<footer class="container-fluid bg-dark text-light mt-1">
    <section class="row">
        <aside class="col-6">
            <p>Le copyright
                Si votre footer ne doit comporter qu'un élément, c'est bien le copyright. Veillez à y intégrer le
                symbole copyright complété de l'année, une mesure indispensable pour vous prémunir de tout plagiat de
                votre site. </p>
            <p> Le Sitemap
                C'est le lien le plus répandu dans les pieds de page et qui renvoie vers la version html du Sitemap</p>
        </aside>
        <aside class="col-6">
            <ul>
                <li>Contact</li>
                <li>Les icônes des réseaux sociaux</li>
            </ul>
        </aside>
    </section>
</footer>