.accueil {
    background-image: url($bgImg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;

    &__title {
        text-decoration: overline underline;
        text-shadow: 2px 2px 2px rgb(255, 255, 255);
        position: relative;
        top:10px;
        left: 0px;
        width: 100%;
    }

    &__img {
        width: 100vw;
    }
}