.fichTech {
    &__vignette {
        height: 200px;

        &__img {
            height: 100%;
        }
    }

    &__comment {
        margin-top: 1em;
        padding: 1.2em;

        &__text {
            margin-top: 1.2em;
            padding: 1.5em;
        }
    }

    &__img {
        border: 1px solid rgba(147, 159, 223, 0.8);
        overflow: hidden;
        border-radius: 60px 0px 60px 0px;
        -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);



        &__large {
            max-height: 100%;
            max-width: 100%;
            transition: 0.5s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

