.footer {
    color:white;
    @include color-grad-brown;  // gradient brown
    &__bouc {
        width: 100%;
    }
    &__reseaux {
        height: 40px;
    }

    &__list {
        list-style-type: none;
    }
}