/* ******************************************************* 
                     GRADIENT                        
******************************************************* */
@mixin color-grad-test1{
  background: linear-gradient(to right, #390A0A 0%, #C67A37 50%, #53290f 100%);
}

@mixin color-grad-test2{
  background: linear-gradient(to right, #133c0a 0%, #36a41ea6 50%, #133c0a 100%);
}

@mixin color-grad-test21{
  background: linear-gradient(to bottom, #133c0a 0%, #36a41ea6 50%, #133c0a 100%);
}

@mixin color-grad-brown{
  background: linear-gradient(to right, #241F1A 0%, #91634e 50%, #33230f 100%);
}
@mixin color-grad-test4{
  background: linear-gradient(to right, #227105 0%, #53aa33 50%, #227105 100%);
}

@mixin color-grad-blue {
  background: rgb(0,18,254);
background: -moz-linear-gradient(0deg, rgba(0,18,254,1) 0%, rgba(0,73,254,1) 10%, rgba(0,73,254,0.3) 50%, rgba(0,73,254,1) 90%, rgba(0,18,254,1) 100%);
background: -webkit-linear-gradient(0deg, rgba(0,18,254,1) 0%, rgba(0,73,254,1) 10%, rgba(0,73,254,0.3) 50%, rgba(0,73,254,1) 90%, rgba(0,18,254,1) 100%);
background: linear-gradient(0deg, rgba(0,18,254,1) 0%, rgba(0,73,254,1) 10%, rgba(0,73,254,0.3) 50%, rgba(0,73,254,1) 90%, rgba(0,18,254,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0012fe",endColorstr="#0012fe",GradientType=1);
}

@mixin color-grad-gray {
  background: -moz-linear-gradient(top, rgba(40, 52, 59, 1) 0%, rgba(121, 131, 140, 0.5) 45%, rgba(130, 140, 149, 0.4) 50%, rgba(121, 131, 140, 0.55) 55%, rgba(40, 52, 59, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(40, 52, 59, 1) 0%, rgba(121, 131, 140, 0.5) 45%, rgba(130, 140, 149, 0.4) 50%, rgba(121, 131, 140, 0.55) 55%, rgba(40, 52, 59, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(40, 52, 59, 1) 0%, rgba(121, 131, 140, 0.5) 45%, rgba(130, 140, 149, 0.4) 50%, rgba(121, 131, 140, 0.55) 55%, rgba(40, 52, 59, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#28343b', endColorstr='#28343b', GradientType=0);
  /* IE6-9 */
}

@mixin color-grad-red {
  background: -moz-linear-gradient(top, rgba(252, 16, 0, 1) 0%, rgba(252, 16, 0, 0.5) 40%, rgba(252, 16, 0, 0.4) 50%, rgba(252, 16, 0, 0.55) 60%, rgba(252, 16, 0, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(252, 16, 0, 1) 0%, rgba(252, 16, 0, 0.5) 40%, rgba(252, 16, 0, 0.4) 50%, rgba(252, 16, 0, 0.55) 60%, rgba(252, 16, 0, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(252, 16, 0, 1) 0%, rgba(252, 16, 0, 0.5) 40%, rgba(252, 16, 0, 0.4) 50%, rgba(252, 16, 0, 0.55) 60%, rgba(252, 16, 0, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc1000', endColorstr='#fc1000', GradientType=0);
  /* IE6-9 */
}

@mixin color-grad-purple {
background: -moz-linear-linear-gradient(to right, #390A0A 0%, #E6E8E5 50%, #973434 100%);
background: -webkit-linear-gradient(to right, #390A0A 0%, #E6E8E5 50%, #973434 100%);
background: linear-gradient(to right, #390A0A 0%, #E6E8E5 50%, #973434 100%);
}

@mixin color-grad-upToButton{
  background: -moz-linear-gradient(to bottom, #f77b3f 0%, rgba(121, 131, 140, 0.55) 45%, rgba(130, 140, 149, 0.4) 50%, rgba(121, 131, 140, 0.55) 55%, #623e1e 100%);
  background: -webkit-linear-gradient(to bottom, #f77b3f 0%, rgba(121, 131, 140, 0.55) 45%, rgba(130, 140, 149, 0.4) 50%, rgba(121, 131, 140, 0.55) 55%, #623e1e 100%);
  background: linear-gradient(to bottom, #f77b3f 0%, rgba(121, 131, 140, 0.55) 45%, rgba(130, 140, 149, 0.4) 50%, rgba(121, 131, 140, 0.55) 55%, #623e1e 100%);
}
@mixin color-grad-green{
  background: rgb(39,136,26);
  background: -moz-linear-gradient(0deg, rgba(39,136,26,1) 0%, rgba(60,186,43,1) 10%, rgba(60,186,43,0.3) 50%, rgba(60,186,43,1) 90%, rgba(60,186,43,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(39,136,26,1) 0%, rgba(60,186,43,1) 10%, rgba(60,186,43,0.3) 50%, rgba(60,186,43,1) 90%, rgba(60,186,43,1) 100%);
  background: linear-gradient(0deg, rgba(39,136,26,1) 0%, rgba(60,186,43,1) 10%, rgba(60,186,43,0.3) 50%, rgba(60,186,43,1) 90%, rgba(60,186,43,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#27881a",endColorstr="#3cba2b",GradientType=1);
}
@mixin color-grad-greenDark{
  background: #1B3A17;
  background: -moz-linear-gradient(left, #1B3A17 0%, #59BF4C 50%, #1B3A17 100%);
  background: -webkit-linear-gradient(left, #1B3A17 0%, #59BF4C 50%, #1B3A17 100%);
  background: linear-gradient(to right, #1B3A17 0%, #59BF4C 50%, #1B3A17 100%);
}

@mixin bg-grad-green {
  background: linear-gradient(to right, #0A3916 0%, #B1BDAB 50%, #4e8454 100%);
}
/* ******************************************************* 
                     SHADOW                       
******************************************************* */
@mixin shadow-leftToRight {
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -12px -27px 18px -22px rgba(0, 0, 0, 0);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -12px -27px 18px -22px rgba(0, 0, 0, 0);
}
@mixin shadow-down{
-webkit-box-shadow: 0px 10px 13px -7px #000000,5px 5px 15px 5px rgba(0, 0, 0, 0);
box-shadow: 0px 10px 13px -7px #000000,5px 5px 15px 5px rgba(0, 0, 0, 0);
}

@mixin border-shadow-b {
  -webkit-box-shadow: 0px 12px 12px -1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 12px 12px -1px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 12px 12px -1px rgba(0, 0, 0, 0.7);
}

@mixin border-shadow-t {
  -webkit-box-shadow: 0px -12px 12px -1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px -12px 12px -1px rgba(0, 0, 0, 0.7);
  box-shadow: 0px -12px 12px -1px rgba(0, 0, 0, 0.7);
}

