---
layout: default
---
<article class="container-fluid guide">
    <div class="row">
        <section class="col-12 mt-3">
            <h1 class="accueil__title--Tangerine text-center guide__title">Guide signalétique</h1>
        </section>
        <section class="col-12 text-center d-flex flex-row flex-wrap justify-content-center align-items-center">

            {%- if site.data.mushroom.size > 0 -%}
            {% assign orderItem = site.data.mushroom | sort: 'nom_commun'  %}
            {%- for fiche in orderItem -%}
            <!-- Lien vers les fichier Md  -->
            {%- assign lien = "/assets/html/file/" | append: fiche.dossier_photo |append:".html"  -%}

            <!-- Construction du chemin d'acces à l'image principale -->
            {%- assign pathImg = "/assets/images/photo-small/" | append: fiche.dossier_photo |append:"/" | append: fiche.nom_img_liste  -%}


            <div class="guide__card m-3  ">
                <a href="{{lien | relative_url}}">
                    <div class="guide__card__eat">
                        {%- assign consommable = "" -%}
                        {% if fiche.comestibilite == "mortel" %}
                        {%- assign consommable = "mortel.png" -%}
                        {% elsif fiche.comestibilite == "toxique" %}
                        {%- assign consommable = "toxique.png" -%}
                        {% elsif fiche.comestibilite == "rejeter" %}
                        {%- assign consommable = "a-rejeter.png" -%}
                        {% elsif fiche.comestibilite == "mediocre" %}
                        {%- assign consommable = "comestible-mediocre.png" -%}
                        {% elsif fiche.comestibilite == "bon" %}
                        {%- assign consommable = "bon-comestible.png" -%}
                        {% elsif fiche.comestibilite == "excellent" %}
                        {%- assign consommable = "excellent-comestible.png" -%}
                        {% endif %}

                        <img class="guide__card__eat__img"
                            src="{{"./assets/images/others/" | append: consommable | relative_url}}"
                            alt="Comestibilité">

                    </div>
                </a>

                <div class="guide__card__zoomer">
                    <img src="{{pathImg | relative_url}}" class="guide__card__image" alt="{{fiche.nom_commun}}">
                </div>


                <div class="guide__card__text d-flex flex-row justify-content-center align-items-center">
                    <h5 class="guide__card__text--color">{{fiche.nom_commun}}</h5>
                </div>
            </div>

            {%- endfor -%}
            {% endif  %}
        </section>
    </div>
</article>
<!-- card-img-top -->