---
layout: default
---
<article class="container-fluid">
    <div class="row">
        <section class="col-12 mt-1">
            <h1 class="accueil__title--Tangerine text-center bg-color--gray">Guide signalétique</h1>
        </section>
        <section class="col-12 text-center d-flex flex-row flex-wrap justify-content-center ">
            {%- if site.data.mushroom.size > 0 -%}
            {% assign orderItem = site.data.mushroom | sort: 'nom_commun'  %}
                {%- for fiche in orderItem -%}
                <!-- Lien vers les fichier Md  -->
                {%- assign lien = "/assets/html/file/" | append: fiche.dossier_photo |append:".html"  -%}
               
                <!-- Construction du chemin d'acces à l'image principale -->
                {%- assign pathImg = "/assets/images/photo-small/" | append: fiche.dossier_photo |append:"/" | append: fiche.nom_img_liste  -%}
                <div class="card m-3 text-info shadow-sm bg-dark " style="width: 20rem; position: relative;">
                    <div class="comestible"></div>
                    <a href="{{lien | relative_url}}"><img src="{{pathImg | relative_url}}" class="card-img-top "
                            alt="..."></a>
                    <div class="card-body">
                        <h5 class="card-title ">{{fiche.nom_commun}}</h5>
                    </div>
                </div>
                
                {%- endfor -%}
            {% endif  %}
        </section>
    </div>
</article>